<h1>
  &#128125;</h1>
<h1>Bienvenido {{nombre}}</h1>  <!-- Renderización dinámica del parametro "nombre", la pasamos desde la ruta -->
<h2>Carga una foto de un extraterrestre</h2>

{{!-- 5. Dentro de Evidencias, el usuario deberá poder subir imágenes y éstas deberán ser
almacenadas en el servidor. Al guardar con éxito una imagen se le debe mostrar al
usuario un mensaje de agradecimiento por haber colaborado con la NASA. --}}

<form action="/upload" method="POST" enctype="multipart/form-data" class="mt-4">
  <input id="foto" type="file" name="foto"  />
  <input name="nombre" value="{{nombre}}" type="hidden" />
  <input name="email" value="{{email}}" type="hidden" />

  <input class="btn bg-light" type="submit" value="¡Subir imagen!" />
</form>